

.productCard{
    width: auto;
    max-width: 200px;
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 3px 1px var(--primary-hover);
    border-radius: 5px;
    container-type: inline-size;
    padding: 0.5rem;
    box-sizing: border-box;
}

.title {
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
    font-size: clamp(1rem, 2cqw, 1.5rem);
    font-family: var(--font-tertiary);
    font-weight: 400;
    overflow-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    margin-top: auto;
}


.cardImg {
    height: 150px;
    object-fit: contain;
    width: 100%;
    margin-top:auto ;
}


.infoContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    width: 100%;
    gap: 0.2rem;
}

.price, .rating {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.price{
    grid-area: 1 / 1 / 2 / 2;
    white-space: no-wrap;
    font-size: 0.9rem;
}

.rating{
    grid-area: 1 / 2 / 2 / 3
}

.numberInput{
    display: flex;
    grid-area: 2 / 1 / 3 / 3;
    gap: 0.3rem;
    justify-content: center;
}

.input {
    max-width: 20px;
    max-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-self: center;
    border-radius: 5px;

    /* Remove built-in arrows */
    -moz-appearance: textfield;
    
}

/* This also removes the built-in arrows of the input element */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.decrementBtn, .incrementBtn {
    max-height: 30px;
    align-self: center;
    border: none;
    border-radius: 100%;
    box-shadow: 1px 1px 1px 1px black;
    
}

.decrementBtn:active, .incrementBtn:active {
    box-shadow: 1px 1px 1px 1px black inset;
}

.addToCartBtn{
    margin: 0.2rem;
    align-self: center;
    user-select: none;
    border: none;
    box-shadow: 1px 1px 1px 1px black;
    font-size: 0.7rem;
    border-radius: 5px;
    font-weight: 500;
}

.addToCartBtn:active {
    box-shadow: 1px 1px 1px 2px black inset;
}