

.logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5rem;
    margin: 1rem 0rem;
}

.searchContainer {
    margin: 1rem 0rem;
}

.searchInput {
    margin-right: 0.5rem;
    font-family: var(--font-tertiary);
}

.searchButton {
  appearance: none;
  -webkit-appearance: none; /* For Safari */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: none;
  color: inherit; /* Optional: Use parent text color */
}

.featured-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 2rem;
}

.featuredCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;   
    max-width: 30%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    min-width: 30%;
    will-change: background-color, scale;
    transition: 
        background-color 0.4s ease-in-out,
        scale 0.4s ease-in-out;
    background-color: var(--bg-primary);
    border-radius: 10px;

}

.featuredCard:hover{
    background-color: var(--bg-secondary);
    scale: 1.01;
    cursor: pointer;
}

.featuredCard > h3 {
    text-align: center;
    margin-bottom: 0.8rem;
    font-family: var(--font-tertiary);
}

.featuredCard > img {
    height: 150px;
    object-fit: contain;
    width: 100%;
}

.featuredHeader {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-secondary);
    font-weight: 500;
}
