.shopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.productsContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    gap: 0.5rem;
    justify-content: center; /* This centers the grid track(s) */
    align-items: stretch;
    grid-auto-rows: minmax(0,1fr);
}



h4 {
	font-family: Arial, Helvetica, sans-serif;
}

.searchFilterContainer {
    margin: 0.5rem 0.5rem;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}

.searchFilterContainer * {
    font-family: var(--font-tertiary);
}

.searchIcon {
    padding-left: 0.5rem;
}

.noMatch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}