.backdrop {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    background-color: var(--bg-secondary);
    max-width: 400px;
    width: 80%;
    display: grid;
    z-index: 5;
    grid-template-rows: auto auto auto;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 1px var(--primary-hover);
    
}

.cancelButton {
    width: 20px;
    height: 20px;
    justify-self: end;
    margin: 0.5rem;
    border-radius: 50%;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    box-shadow: 1px 1px 3px 1px var(--primary-hover);
    outline: none;
    cursor: pointer;
    will-change: scale;
}

.message {
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* max-height: 60px; */
    font-family: var(--font-tertiary);
}

.message > span {
    font-weight: 600;
    text-decoration: underline;
}

.confirmButton {
    margin: 0.5rem;
    width: 80%;
    max-width: 200px;
    justify-self: center;
    border-radius: 10px;
    padding: 0.2rem;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    box-shadow: 1px 1px 3px 1px var(--primary-hover);
    outline: none;
    cursor: pointer;
    padding: 0.2rem;
    will-change: scale;
    background-color: var(--bg-secondary);
}

.confirmButton:hover, .cancelButton:hover{
    transition: scale 0.2s ease;
    scale: 1.03;
}

@media (max-width: 900px) {
    .message {
        font-size: 0.8rem;
    }
}



